<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>We are the crystal gems</h1>
    The <%=gem.name; %> is  <%=gem.color; %>.
       <% if(gem.preciousStone === true){ %>
           This stone is Precious!
       <% } else { %>
           This stone is Semi-Precious!
       <% } %>
  </body>
</html>
